.navbar{
    background: #FFEDED;
    height: 90px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding: 33px 16px 33px 16px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';

}

.navbar-title{
    color:#CF0A0A;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

