.navbar{
    background: #FFEDED;
    height: 90px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding: 33px 16px 33px 16px;
    display: flex;
    align-items: center;
    font-family: 'Poppins';

}

.navbar-title{
    color:#CF0A0A;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
}

.navbar-main-location-img{
    position: absolute;
    fill:'red';
    margin-left: 430px;
    margin-top: 10px;
    Width:32px;
    Height:42px;
}

.navbar-main-location{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-left : 20px;
    text-decoration-line: underline;
    color: #000000;
}

.navbar-main-faq-img{
    position: absolute;
    fill:'red';
    margin-left: 1330px;
    margin-top: 10px;
    Width:32px;
    Height:42px;
}

.navbar-main-faq{
    right: 0%;
    left: 75%;
    margin-left: 700px;
    color: #000000;
}

.navbar-profile-img{
    position: absolute;
    fill:'red';
    margin-left: 1800px;
    margin-top: 10px;
    Width:22px;
    Height:32px;
}

.navbar-profile{
    right:0%;
    margin-right: 0px;
    left:90%;
    color: #000000;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
} */

.link-color{
    color: #000000;
}
